/**
 *  Add your application related css here
 */

DIV {
 /*   color: white;*/
}
.nestedTabs .nav-tabs li a {
    background-color: transparent !important;
    border-radius: 4px 4px 0 0 !important;
    color: white !important;
}
.nestedTabs .nav-tabs {
    margin-bottom:20px;
}

button.btn-primary {
      background-color: #FFA500;
      border-color: #f29800;
      color:black;
}

button.btn-primary:hover, button.btn-primary:focus, button.btn-primary:active, .btn-primary.active {
      background-color: #e99000;
      border-color: #d28800;
      color:black;
}

.table-header {
    border-radius: 6px 6px 0 0;
    border: medium none;
    background: orange none repeat scroll 0 0;
    color: #444;
    font-family: "trebuchet MS","Lucida sans",Arial;
    background-color: #e99000;
    font-size: large;
    padding-left: 25px;
    margin-bottom: -25px;
}
.md-dialog-content {
	background-color: #414040;
	color: white;
}
.md-dialog-content H2{
	color: white;
}
md-dialog-actions {
	background-color: #414040;
}

md-dialog-actions .md-button {
	background-color: #FFA500 !important;
	/*background: orange;*/
}
md-dialog-actions .md-button SPAN {
	color: black !important;
}
md-dialog-actions .md-button:hover {
	/*background: orange;*/
	background-color: #e99000 !important;
}

.cpe-dialog MD-TOOLBAR {
	background-color: #e99000;
}
MD-SELECT-VALUE SPAN {
	color: rgba(0, 0, 0, 0.26);
}
.md-text {
	color:black;
}
MD-SELECT-MENU MD-OPTION div, MD-SELECT-VALUE SPAN, MD-SELECT-VALUE SPAN * {
/*	color:black !important;*/
}
.layout-padding md-input-container {
	padding: 0 !important;
}
.minimal-width {
	white-space: nowrap;
	width: 1px;
}
._md-select-value:not(._md-select-placeholder) span {
	color:black;
}

#refresh_btn {
	float: right;
	border-radius: 25px;
	cursor: pointer;
}

MD-DIALOG {
	min-width: 30% !important;
	width: initial;
}

.no-error-spacer .md-errors-spacer {
	display: none;
}


MD-TOOLBAR {
    cursor: move; /* fallback if grab cursor is unsupported */
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

 /* (Optional) Apply a "closed-hand" cursor during drag operation. */
MD-TOOLBAR:active {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}

.inner-table {
	border: 1px solid;
	margin-top: 0;
	margin-bottom: 0;
	padding: 0 !important;
}
.clickable {
	cursor: pointer;
}
.btn-middle {
	margin: auto;
	display: block;
}
.footable md-input-container {
	margin:0;
}

.footable md-input-container label:not(.md-no-float):not(._md-container-ignore) {
	display: none;
}



.animate-if label, .animate-if input, .animate-if div {
  transition:all 2s;
}
.showmm label, .showmm input, .showmm div{
	height:inherit;
}
.hidemm label, .hidemm input, .hidemm div{
	height:0;
}


.animate-if.ng-enter,
.animate-if.ng-leave.ng-leave-active {
  height:inherit;
}

.animate-if.ng-leave,
.animate-if.ng-enter.ng-enter-active {
  height:0;
}
.footable .multiline-headers TH {
	/* text-align: center; */
	vertical-align: middle;	
}
a.link {
	text-decoration: underline;
}
TD a.link {
	display:block;
	width:100%;
}
I.expand-btn {
	padding: 5px;
	cursor: pointer;
}
I.expand-btn:focus {
    outline: 0;
    border: none;
}
#dnsInputs {
    padding-bottom: 0;
}
#dnsInputs md-input-container {
    padding-bottom: 0 !important;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 16px;
}
#dnsForm {
	padding-top:16px;
	padding-bottom:0;
}
.confirmDialog {
	background-color: #414040;
}
.confirmDialog P, .confirmDialog h2 {
	color: white;
}
.complexSelect md-select-menu, .complexSelect md-content{
	max-height:300px;
}
.complexSelectOptions {
	overflow-y: scroll;
	max-height:170px;
}