[access]
	inheritFrom = All-Projects
[project]
	description = User Network Interface Manager plugin
[receive]
	requireChangeId = true
[access "refs/*"]
	owner = group ldap/odl-gerrit-unimgr-committers
	read = group GitHub Replication
	create = group Release Engineering Team
	push = group Release Engineering Team
[allowSuperproject "releng/autorelease"]
	matching = refs/heads/stable/nitrogen:refs/heads/stable/nitrogen
