<div>
	<h1>Global Administration</h1>
	<div class="menu">
		<ul id="MainTabs" class="nav nav-pills" role="tablist">
			<li ng-class="{ active: isTabSet('admin',1)}"
				ng-click="setTab('admin',1)"><a id="evcs-view-tab" href="#/cpeui/admin/tenants">
				 <i class="icon-desktop"></i> Tenants</a></li>
			<li ng-class="{ active: isTabSet('admin',2)}"
				ng-click="setTab('admin',2)"><a id="evcs-configure-tab" href="#/cpeui/admin/cpes">
					<i class="icon-tasks"></i> Assigned CPEs</a></li>
			<!-- For Future Use
			<li ng-class="{ active: isTabSet('admin',6)}"
				ng-click="setTab('admin',6)"><a id="unassigned-cpe-tab" href="#/cpeui/admin/ucpes">
					<i class="icon-tasks"></i> Unassigned CPEs</a></li>
			<li ng-class="{ active: isTabSet('admin',7)}"
				ng-click="setTab('admin',7)"><a id="dashboard-tab" href="#/cpeui/admin/dashboard">
					<i class="icon-dashboard"></i> Dashboard</a></li>
			<li ng-class="{ active: isTabSet('admin',7)}"
				ng-click="setTab('admin',7)"><a id="monitor-tab" href="#/cpeui/admin/monitor">
					<i class="icon-bar-chart"></i> CPE Monitor</a></li>
		     -->
			<li ng-class="{ active: isTabSet('admin',3)}"
				ng-click="setTab('admin',3);updateView()"><a href="#/cpeui/admin/unis">
				 <i class="icon-exchange"></i> UNIs</a>
			 </li>
			 <li ng-class="{ active: isTabSet('admin',5)}" ng-click="setTab('admin',5);updateProfilesView()">
			 	<a href="#/cpeui/admin/profiles"><i class="icon-book"></i> Bandwidth Profiles</a>
			 </li>
			<li id="refresh_btn" class="active refresh-btn"
				ng-click="updateView()"><button class="btn add-row"> <i class="icon-refresh"></i> Refresh</button>
				</li>
		</ul>
	</div>
	<div ng-show="isTabSet('admin',1)">
		<div ui-view="tenants" />
	</div>
	<div ng-show="isTabSet('admin',2)">
		<div class="table-header">Devices</div>
		<table class="footable table table-striped">
			<thead>
				<tr>
					<th>ID</th>
					<th>Name</th>
					<th>Tenant</th>
                    <th class="minimal-width">
					   <button class="btn btn-md btn-info" ng-click="cesDialog.show($event)">
					       <i class="icon-plus"></i>
					       <md-tooltip>Add Device</md-tooltip>
					   </button>
					</th>
				</tr>
			</thead>
			<tbody id="ces_table">
				<tr ng-repeat="item in ces | orderBy: '[\'dev-id\']'">					
					<td class="minimal-width">{{ item['dev-id'] }}</td>
					<td>{{ item['device-name'] }}
						<button ng-if="!(item['device-name'] || item._naming)" class="btn right" ng-click="addCEName(item)"><i class="icon-edit"></i> Add Name</button>
						<i class="clear"></i>
						<md-input-container class="md-block no-error-spacer left" ng-show="item._naming" style="width:79%">
							<label>Device Name</label>
							<input id="INPUT_{{item['dev-id']}}" type="text" ng-model="item._new_name"/>
						</md-input-container>							
						<button id="OK_{{item['dev-id']}}" ng-show="item._naming" class="btn right" style="max-width:20%" ng-click="renameCE(item)"><i class="icon-ok"></i> OK</button>							
					</td>
					<td>
						<md-input-container class="md-block">
					        <label>Multiple</label>
					        <md-select ng-change="assignCpeToTenant(item['dev-id'])" ng-model="selectedTenant[item['dev-id']]" name="selectedTenant">
					        	<md-option value="" default>&lt;None&gt;</md-option>
					       		<md-option ng-repeat="tenant in tenantArray" value="{{ tenant.name }}">{{ tenant.name }}</md-option>
					        </md-select>
		      			</md-input-container>
					</td>
					<td class="minimal-width"><button class="btn btn-md btn-danger" ng-click="deleteCe(curTenant,item['dev-id'])"> <i class="icon-trash"></i> </button></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div ng-show="isTabSet('admin',3)">
		<div class="table-header">UNIs</div>
		<table class="footable table table-striped">
			<thead>
				<tr>
					<th>Device</th>
					<th>ID</th>
					<th colspan="2">Tenant</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="item in unis | orderBy: '[\'uni-id\']'">
					<td ng-init="device = ces.filterByField('dev-id',item.device)[0]">{{ device["device-name"] ? device["device-name"] : item.device}}</td>
					<td>{{ item.prettyID }}</td>
					<td ng-if="item['tenant-id'] != undefined" >
						{{ item['tenant-id'] }} <button class="btn add-row right" ng-click="linkUniDialog.show($event, {'uni':item['uni-id'], tenants:tenantArray})">Edit</button>
					</td>
					<td ng-if="item['tenant-id'] == undefined" >
						<button class="btn add-row btn-middle" ng-click="linkUniDialog.show($event, {'uni':item['uni-id'], tenants:tenantArray})"><i class="icon-link"></i> Link Tenant</button>
					</td>
					<td class="minimal-width"><button class="btn btn-md btn-danger" ng-click="deleteUni(item['uni-id'])"> <i class="icon-trash"></i> </button></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div ng-show="isTabSet('admin',5)">
		<div class="table-header">Bandwidth Profiles</div>
		<table class="footable table table-striped">
			<thead>
				<tr>
					<th>Bandwidth Profile Name</th>
					<th>Committed Information Rate (kb/s)</th>
					<th>Committed Burst Size (KB)</th>
					<th class="minimal-width">
                       <button class="btn btn-md btn-info right" ng-click="addProfile.show($event)">
                           <i class="icon-plus"></i>
                           <md-tooltip>Add Profile</md-tooltip>
                       </button>
                    </th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="profile in profiles | orderBy: '[\'bw-profile\']'">
					<td>{{ profile['bw-profile'] }}</td>
					<td>{{ profile.cir }}</td>
					<td>{{ profile.cbs }}</td>
					<td class="minimal-width">
					   <button class="btn btn-md btn-info" ng-click="editProfile(profile['bw-profile'],profile.cbs,profile.cir)">
                        <i class="icon-edit"></i>
                        <md-tooltip>Edit Bandwidth Profile</md-tooltip>
                        </button>
						<button class="btn btn-md btn-danger" ng-click="deleteProfile(profile['bw-profile'])">
						<i class="icon-trash"></i>
						<md-tooltip>Delete Bandwidth Profile</md-tooltip>
						</button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
