<div ng-app="">
    <!--
    Main Tab
    -->
    <div ui-view="cpeui" />
    <!--
    Tenant Data Tab
    -->
    <!-- div class="container" ng-show="isTabSet('main',2)">
        <h1>L2 Services - Tenant {{ currentTenent.name }}</h1>
        <div class="menu">
            <ul id="EVCs-tab" class="nav nav-pills" role="tablist">
                <li ng-class="{ active: isTabSet('tenantData',1)}" ng-click="setTab('tenantData',1)" >
                    <a id="evcs-view-tab"> <i class="icon-search"></i> View</a>
                </li>
                <li ng-class="{ active: isTabSet('tenantData',2)}" ng-click="setTab('tenantData',2)" >
                    <a id="evcs-configure-tab" > <i class="icon-wrench"></i> Configure</a>
                </li>
                <li ng-class="{ active: isTabSet('tenantData',3)}" ng-click="setTab('tenantData',3)" >
                    <a id="dashboard-tab" > <i class="icon-signal"></i> Dashboard</a>
                </li>
            </ul>
        </div>
        <div id="EVCsContent" class="tab-content">
            <div role="tabpanel" class="tab-pane fade in active" id="evcs-view" ng-show="isTabSet('tenantData',1)" aria-labelledBy="evcs-view-tab">
                <br></br>
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">L2 Services Table</h3>
                    </div>
                    <div class="panel-body">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Service ID</th>
                                    <th>Service Type</th>
                                    <th>CEs in Service</th>
                                    <th>UNIs in Service</th>
                                </tr>
                            </thead>
                            <tbody id="evc_table" />
                        </table>
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane fade in active" id="evcs-configure" ng-show="isTabSet('tenantData',2)" aria-labelledBy="evcs-configure-tab">
                <br></br>
                <div class="panel panel-primary" style="width: 500px;">
                    <div class="panel-heading">
                        <h3 class="panel-title">EVCs Actions</h3>
                    </div>
                    <div class="panel-body">
                        <button type="button" class="btn btn-lg btn-info" data-toggle="modal" onclick="prepareCreateEVC()" data-target="#createEVCModal">Create EVC</button>
                        <button type="button" class="btn btn-lg btn-info" data-toggle="modal" onclick="prepareRemoveEVC(evcs_list)" data-target="#removeEVCModal">Remove EVC</button>
                    </div>
                </div>
            </div>
        </div>
        <button class="btn btn-default pull-right" ng-click="setTab('main',1)" > Back </button>
    </div -->
</div>
