<md-dialog class="cpe-dialog" aria-label="Create CPE" ng-cloak>
	<md-toolbar>
		<div class="md-toolbar-tools">
			<h2>Create CPE</h2>
			<span flex></span>
			<md-button class="md-icon-button" aria-label="Close dialog"
				ng-click="cancel()"> <i class="icon-remove-sign"></i> </md-button>
		</div>
	</md-toolbar>
		<form name="projectForm" novalidate>
	<md-dialog-content>
	<div ng-controller="AppCtrl" layout="column" ng-cloak>
		<md-content layout-padding>
			<md-input-container class="md-block">
				<label>Device Name</label>
			 	<input md-maxlength="30" md-no-asterisk name="cename"
				ng-model="obj.name"> </md-input-container>
			<md-input-container class="md-block">
				<label>Device ID</label>
				<input md-maxlength="30" required md-no-asterisk name="ceid"
				ng-model="obj.id">
				<div ng-messages="projectForm.ceid.$error">
					<div ng-message="required">This is required!</div>
				</div>
			</md-input-container>
		</md-content>
	</div>
	</md-dialog-content>
	<md-dialog-actions layout="row"> <span flex></span>
<md-button ng-click="cancel()"> Cancel </md-button>
<md-button	type="submit" ng-click="done(obj)"> Create </md-button>
</md-dialog-actions>
		</form>

</md-dialog>