<md-dialog class="cpe-dialog" aria-label="Create IPVC"  ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Create New L3 Service</h2>
        <span flex></span>
        <md-button class="md-icon-button" aria-label="Close dialog" ng-click="cancel()">
        <i class="icon-remove-sign"></i>
        </md-button>
      </div>
    </md-toolbar>
    <form name="projectForm" novalidate>
    <md-dialog-content>

<div layout="column" ng-cloak>
  <md-content layout-padding>
      <md-input-container class="md-block">
        <label>Service Name</label>
        <input type="text" required name="ipvcname" ng-model="obj.svc_name">
        <div ng-messages="projectForm.ipvcname.$error">
              <div ng-message="required">Number is required!</div>
        </div>
      </md-input-container>
      <!--
     <a ng-init="advancedCollapsed=true" ng-click="advancedCollapsed = !advancedCollapsed" class="btn btn-navbar btn-info">{{advancedCollapsed ? 'Show' : 'Hide'}} Advanced Options</a>
          <div layout-gt-sm="row" ng-if-start="!advancedCollapsed">
              <md-input-container class="md-block" flex-gt-sm>
                  <md-switch name="is_preserve_vlan" ng-model="obj.is_preserve_vlan">{{obj.is_preserve_vlan ? "" : "Do Not"}} Preserve VLAN</md-switch>
              </md-input-container>
              <md-input-container class="md-block" ng-if="obj.is_preserve_vlan" flex-gt-sm style="margin-bottom: 0px; margin-top: 36px;">
                  <label>Preserved VLAN</label>
                  <input required type="number" step="1" name="p_vlan" ng-model="obj.preserved_vlan">
                  <div ng-messages="projectForm.p_vlan.$error">
                      <div ng-message="required">Number is required!</div>
                </div>
              </md-input-container>
          </div>
          <md-input-container class="md-block" ng-init="obj.mtu_size = 1522">
            <label>IPVC MTU size</label>
            <input type="number" step="1" name="mtu" min="1522" max="16384" ng-model="obj.mtu_size">
            <div ng-messages="projectForm.mtu.$error">
                  <div ng-message="min">Number must be in range [1522..16384]</div>
            </div>
          </md-input-container>
          <md-input-container class="md-block">
              <label>Unicast Service Frame Delivery</label>
              <md-select ng-model="obj.unicast" name="unicast">
                   <md-option value="{{ undefined }}"></md-option>
                   <md-option value="discard">Discard</md-option>
                   <md-option value="unconditional">Unconditional</md-option>
                   <md-option value="conditional">Conditional</md-option>
            </md-select>
          </md-input-container>
          <md-input-container class="md-block" ng-if-end>
              <label>Multicast Service Frame Delivery</label>
              <md-select ng-model="obj.multicast" name="multicast">
                   <md-option value="{{ undefined }}"></md-option>
                   <md-option value="discard">Discard</md-option>
                   <md-option value="unconditional">Unconditional</md-option>
                   <md-option value="conditional">Conditional</md-option>
            </md-select>
          </md-input-container>
       -->

  </md-content>
</div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="cancel()"> Cancel </md-button>
      <md-button type="submit" ng-click="done(obj)"> Create </md-button>
    </md-dialog-actions>
    </form>
</md-dialog>
