<md-dialog class="cpe-dialog" aria-label="Add IP-UNI Subnet"  ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Add IP-UNI Subnet</h2>
        <span flex></span>
        <md-button class="md-icon-button" aria-label="Close dialog" ng-click="cancel()">
        <i class="icon-remove-sign"></i>
        </md-button>
      </div>
    </md-toolbar>
    <form name="projectForm" novalidate>
    <md-dialog-content>

<div layout="column" ng-cloak>
  <md-content layout-padding>
      <md-input-container class="md-block">
        <label>Gateway</label>
        <input type="text" required name="gateway" ng-model="obj.gateway" ng-pattern="/\b(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\b/">
        <div ng-messages="projectForm.gateway.$error">      		
      		<div ng-message="pattern">IP is required! (ex. 224.224.224.1)</div>
    	</div>
      </md-input-container>
      <md-input-container class="md-block">
        <label>Subnet</label>
        <input type="text" required name="subnet" ng-model="obj.subnet" ng-pattern="/\b(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\/(?:[1-2]?[0-9]|3[0-2])\b/">
        <div ng-messages="projectForm.subnet.$error">
      		<div ng-message="pattern">IP/Mask is required! (ex. 127.0.0.1/32)</div>
    	</div>
      </md-input-container>
  </md-content>
</div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <span flex></span>      
      <md-button ng-click="cancel()"> Cancel </md-button>
      <span ng-hide="true" ng-init="obj.uniid = params.uniid"></span>
      <span ng-hide="true" ng-init="obj.ipuniid = params.ipuniid"></span>
      <md-button type="submit" ng-click="done(obj)"> Create </md-button>
    </md-dialog-actions>
    </form>
</md-dialog>