<md-dialog class="cpe-dialog" aria-label="Create Bandwidth Profile" ng-cloak>
	<md-toolbar>
		<div class="md-toolbar-tools">
			<h2>{{params.edit ? 'Edit' : 'Create'}} Bandwidth Profile</h2>
			<span flex></span>
			<md-button class="md-icon-button" aria-label="Close dialog"
				ng-click="cancel()"> <i class="icon-remove-sign"></i> </md-button>
		</div>
	</md-toolbar>
	<form name="projectForm" novalidate>
		<md-dialog-content>
			<div layout="column" ng-cloak>
				<md-content layout-padding>
					<md-input-container class="md-block" ng-init="obj['bw-profile'] = params.profileName">
						<label>Bandwidth Profile Name</label>
					 	<input name="profilename" required ng-model="obj['bw-profile']" ng-disabled="params.edit">
					 	<div ng-messages="projectForm.profilename.$error">
							<div ng-message="required">This is required!</div>
						</div>
				 	</md-input-container>
					<md-input-container class="md-block" ng-init="obj.cir = params.cir">
						<label>Committed Information Rate (kb/s)</label>
						<input type="number" required name="cir" ng-model="obj.cir" min="0">
						<div ng-messages="projectForm.cir.$error">
							<div ng-message="required">Number is required!</div>
							<div ng-message="min">Number must be positive!</div>
						</div>
					</md-input-container>
					<md-checkbox name="" ng-model="obj.default_cbs" ng-init="obj.default_cbs = (!params.edit || getDefualtCbs(params.cir) == params.cbs)">
					   Use default Committed Burst Size {{obj.cir ? ('(' + getDefualtCbs(obj.cir) + ' KB)') : ''}}
					</md-checkbox>
					<md-input-container class="md-block" ng-if="!obj.default_cbs" ng-init="obj.cbs = params.cbs">
						<label>Committed Burst Size (KB)</label>
						<input type="number" required name="cbs" ng-model="obj.cbs" min="0">
						<div ng-messages="projectForm.cbs.$error">
							<div ng-message="required">Number is required!</div>
							<div ng-message="min">Number must be positive!</div>
						</div>
					</md-input-container>
				</md-content>
			</div>
		</md-dialog-content>
		<md-dialog-actions layout="row">
			<span flex></span>
			<md-button ng-click="cancel()"> Cancel </md-button>
			<md-button type="submit" ng-click="done(obj)"> Create </md-button>
		</md-dialog-actions>
	</form>
</md-dialog>