<md-dialog class="cpe-dialog" aria-label="Create Tenant"  ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Create Tenant</h2>
        <span flex></span>
        <md-button class="md-icon-button" aria-label="Close dialog" ng-click="cancel()">
        <i class="icon-remove-sign"></i>
        </md-button>
      </div>
    </md-toolbar>
    <form name="projectForm" novalidate>
    <md-dialog-content>
    <div layout="column" ng-cloak>
    <md-content layout-padding>
      <md-input-container class="md-block">
        <label>Tenant Name</label>
        <input ng-pattern="/^[\w ]+$/" md-maxlength="30" required name="tid" ng-model="obj.id">
        <div ng-messages="projectForm.tid.$error">
      		<div ng-message="required">This is required!</div>
      		<div ng-message="pattern">name must be only numbers and English characters</div>
      		<div ng-message="md-maxlength">The name has to be less than 30 characters long.</div>
    	</div>
      </md-input-container>      
      </md-content>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="cancel()">
       Cancel
      </md-button>
      <md-button type="submit" ng-click="done(obj)">
        Create
      </md-button>
    </md-dialog-actions>
    </form>
</md-dialog>
