<md-dialog class="cpe-dialog" aria-label="Create UNI"  ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Create UNI</h2>
        <span flex></span>
        <md-button class="md-icon-button" aria-label="Close dialog" ng-click="cancel()">
        <i class="icon-remove-sign"></i>
        </md-button>
      </div>
    </md-toolbar>
    <form name="projectForm" novalidate>
    <md-dialog-content>

<!-- TODO Remove This and all its related -->

<div ng-controller="AppCtrl" layout="column" ng-cloak>
  <md-content layout-padding>
      <md-input-container class="md-block">
        <label>UNI ID</label>
        <input md-maxlength="30" required md-no-asterisk name="uniid" ng-model="obj.id">
        <div ng-messages="projectForm.uniid.$error">
      		<div ng-message="required">This is required!</div>
    	</div>
      </md-input-container>
      <md-input-container class="md-block">
        <label>Tenant</label>
        <md-select ng-model="obj.tenant" name="tenant">
       		<md-option ng-repeat="tenant in params" value="{{ tenant.name }}" default>{{ tenant.name }}</md-option>
        </md-select>
      </md-input-container>
  </md-content>
</div>

    </md-dialog-content>
    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="cancel()">
       Cancel
      </md-button>
      <md-button type="submit" ng-click="done(obj)">
        Create
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>