<md-dialog class="cpe-dialog" aria-label="Update vlans" ng-cloak>
<md-toolbar>
<div class="md-toolbar-tools">
	<h2>Vlans</h2>
	<span flex></span>
	<md-button class="md-icon-button" aria-label="Close dialog"
		ng-click="cancel()"> <i class="icon-remove-sign"></i> </md-button>
</div>
</md-toolbar> <md-dialog-content>

<div ng-controller="AppCtrl" layout="column" ng-cloak
	ng-init="obj.role = 'root'">
	<md-content layout-padding>
	<table class="inner-table table table-striped">
		<thead>
		</thead>
		<tbody id="l2_table">
			<tr ng-repeat="vlan in params.vlans | orderBy">
				<td>{{ vlan }}</td>
				<td class="delete-tr"><button class="btn btn-md btn-danger"
						ng-click="deleteVlan(params.svcid, params.uniid, vlan, params.vlans)">
						<i class="icon-trash"></i>
					</button></td>
			</tr>
			<tr>
				<td><input id="vlan_input" type="number" name="vlan" ng-model="obj.vlan"></td>
				<td class="delete-tr"><button class="btn btn-md btn-info"
						ng-click="addVlan(params.svcid, params.uniid, obj.vlan, params.vlans)">
						<i class="icon-plus"></i> ADD</button>
						</td>
			</tr>
		</tbody>
	</table>
	</md-content>
</div>

</md-dialog-content>
<md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="cancel()">Close</md-button>
    </md-dialog-actions>
 </md-dialog>