<md-dialog class="cpe-dialog" aria-label="Update UNI" ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Add UNI to {{ params.svc['name'] ? params.svc['name'] : params.svc['svc-id']}} </h2>
        <span flex></span>
        <md-button class="md-icon-button" aria-label="Close dialog" ng-click="cancel()">
        <i class="icon-remove-sign"></i>
        </md-button>
      </div>
    </md-toolbar>
    <form name="projectForm" novalidate>
    <md-dialog-content>

<div ng-controller="AppCtrl" layout="column" ng-cloak ng-init="obj.role = 'root'">
  <md-content layout-padding>
    <md-input-container class="md-block">
        <label>Device</label>
        <md-select ng-model="obj.device_id" name="device">
       		<md-option ng-repeat="ce in params.ces | orderBy: 'displayName'" ng-value="ce['dev-id']" default>{{ ce.displayName }}</md-option>
        </md-select>
      </md-input-container>
      <md-input-container class="md-block">
        <label>Uni</label>
        <md-select ng-model="obj.uni_id" name="uniid">
       		<md-option ng-repeat="uni in params.unis.filterByField('device',obj.device_id) | filter: filterUsedUnis(params.svc) " value="{{ uni['uni-id'] }}" default>{{ uni.prettyID }}</md-option>
        </md-select>
      </md-input-container>
      <md-input-container class="md-block" ng-if="params.svc.evc['evc-type'] == 'rooted-multipoint'">
        <label>Role</label>
        <md-select ng-model="obj.role" name="role">
       		<md-option value="root" default>Root</md-option>
       		<md-option value="leaf" default>Leaf</md-option>
        </md-select>
      </md-input-container>
      <md-input-container class="md-block">
        <label>Bandwidth Profile</label>
        <md-select ng-model="obj.profile_name" name="profile_name">
        	<md-option ng-value="undefined" > - None - </md-option>
       		<md-option ng-repeat="profile in params.profiles | orderBy: '[\'bw-profile\']'" value="{{ profile['bw-profile'] }}" >{{ profile['bw-profile'] }} <span class="small">(CIR: {{profile.cir}}, CBS: {{profile.cbs}})</span></md-option>
        </md-select>
      </md-input-container>
    <input type="hidden" name="vlans" ng-model="obj.vlans">
    <div ng-if="params.svc.evc['preserve-ce-vlan-id']">
    	Preserved VLAN: {{params.svc.evc['preserved-vlan']}}
    	<i ng-init="obj.vlans = [params.svc.evc['preserved-vlan']]"></i>
    </div>
   <md-input-container class="md-block" ng-if="!params.svc.evc['preserve-ce-vlan-id']">
   <h4 style="color:black;">VLANs</h4>
    <table ng-init="obj.vlans = []" class="inner-table table table-striped">
		<thead>
		</thead>
		<tbody id="l2_table">
			<tr ng-repeat="vlan in obj.vlans | orderBy">
				<td>{{ vlan }}</td>
				<td class="minimal-width"><button class="btn btn-md btn-danger"
						ng-click="deleteVlan(vlan)">
						<i class="icon-trash"></i>
					</button></td>
			</tr>
			<tr>
				<td><input id="vlan_input" type="number" name="current_vlan" ng-model="current_vlan"></td>
				<td class="minimal-width"><button class="btn btn-md btn-info"
						ng-click="addVlan(current_vlan)">
						<i class="icon-plus"></i>
					</button></td>
			</tr>
		</tbody>
	</table>
	</md-input-container>
  </md-content>
</div>

    </md-dialog-content>
    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="cancel()">
       Cancel
      </md-button>
      <md-button type="submit" ng-click="obj.svc_id = params.svc['svc-id'];obj.evc_unis = params.svc_unis; done(obj)">
        link
      </md-button>
    </md-dialog-actions>
    </form>
</md-dialog>