<md-dialog class="cpe-dialog" aria-label="Update UNI" ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Add UNI to {{ params.svc['name'] ? params.svc['name'] : params.svc['svc-id']}} </h2>
        <span flex></span>
        <md-button class="md-icon-button" aria-label="Close dialog" ng-click="cancel()">
        <i class="icon-remove-sign"></i>
        </md-button>
      </div>
    </md-toolbar>
    <form name="projectForm" novalidate>
    <md-dialog-content>

<div ng-controller="AppCtrl" layout="column" ng-cloak ng-init="obj.role = 'root'">
  <md-content layout-padding>
    <md-input-container class="md-block">
        <label>Device</label>
        <md-select ng-model="obj.device_id" name="device">
       		<md-option ng-repeat="ce in params.ces | orderBy: 'displayName'" ng-value="ce['dev-id']">{{ ce.displayName }}</md-option>
        </md-select>
      </md-input-container>
      <md-input-container class="md-block">
        <label>Uni</label>
        <md-select ng-model="obj.uni" name="uniid" ng-disabled="!obj.device_id">
       		<md-option ng-repeat="uni in params.unis.filterByField('device',obj.device_id)" ng-value="uni" >{{ uni.prettyID }}</md-option>
        </md-select>
      </md-input-container>
      <md-input-container class="md-block">
        <label>IP Uni Address</label>
        <input type="text" required name="ipaddress" ng-model="obj['ip-address']" ng-pattern="/\b(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\/(?:[1-2]?[0-9]|3[0-2])\b/">
        <div ng-messages="projectForm.ipaddress.$error">
            <div ng-message="pattern">IP/Mask are required! (ex. 127.0.0.1/32)</div>
        </div>
      </md-input-container>
      <md-input-container class="md-block">
        <label>Vlan</label>
        <input type="number" ng-required="hasVlans" name="vlan" ng-model="obj.vlan">
        <div ng-messages="projectForm.vlan.$error" ng-if="hasVlans">
            <div ng-message="required">Vlan is required when there are other ip-unis with vlans</div>
        </div>
      </md-input-container>
      <md-input-container class="md-block">
        <label>Segmentation ID</label>
        <input type="number" name="segmentationid" ng-model="obj['segmentation-id']">
        <div ng-messages="projectForm.segmentationid.$error">
            <div ng-message="number">Number is required!</div>
        </div>
      </md-input-container>
      <md-input-container class="md-block">
        <label>Bandwidth Profile</label>
        <md-select ng-model="obj.profile_name" name="profile_name">
        	<md-option ng-value="undefined" > - None - </md-option>
       		<md-option ng-repeat="profile in params.profiles | orderBy: '[\'bw-profile\']'" value="{{ profile['bw-profile'] }}" >{{ profile['bw-profile'] }} <span class="small">(CIR: {{profile.cir}}, CBS: {{profile.cbs}})</span></md-option>
        </md-select>
      </md-input-container>      
  </md-content>
</div>

    </md-dialog-content>
    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="cancel()">
       Cancel
      </md-button>
      <md-button type="submit" ng-click="obj.svc_id = params.svc['svc-id'];obj.evc_unis = params.svc_unis; done(obj)">
        link
      </md-button>
    </md-dialog-actions>
    </form>
</md-dialog>