<md-dialog class="cpe-dialog" aria-label="Update UNI"  ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Update Uni</h2>
        <span flex></span>
        <md-button class="md-icon-button" aria-label="Close dialog" ng-click="cancel()">
        <i class="icon-remove-sign"></i>
        </md-button>
      </div>
    </md-toolbar>
    <form name="projectForm" novalidate>
    <md-dialog-content>

<div ng-controller="AppCtrl" layout="column" ng-cloak>
  <md-content layout-padding>
      <md-input-container class="md-block">
        <label>UNI ID</label>
        <input disabled name="uniid" ng-model="params.uni">
      </md-input-container>
      <md-input-container class="md-block">
        <label>Tenant</label>
        <md-select ng-model="obj.tenant" name="tenant">
        	<md-option value="{{ undefined }}" default>&lt;None&gt;</md-option>
       		<md-option ng-repeat="tenant in params.tenants" value="{{ tenant.name }}" default>{{ tenant.name }}</md-option>
        </md-select>
      </md-input-container>
  </md-content>
</div>

    </md-dialog-content>
    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="cancel()">
       Cancel
      </md-button>
      <md-button type="submit" ng-click="obj.id = params.uni;done(obj)">
        link
      </md-button>
    </md-dialog-actions>
    </form>
</md-dialog>