<md-dialog class="cpe-dialog" ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Intranet</h2>
        <span flex></span>
        <md-button class="md-icon-button" aria-label="Close dialog" ng-click="cancel()">
        <i class="icon-remove-sign"></i>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
    <div layout="column" ng-cloak>
        <md-content layout-padding>
            <div>Static Routes</div>
            <form name="projectForm" novalidate ng-submit="add(obj)">
              <table class="footable table table-striped inner-table">
                      <thead>
                          <tr>
                              <th>Network</th>
                              <th>Gateway</th>
                              <th>Device</th>
                              <th>Port</th>
                              <th>VLAN</th>
                              <th class="minimal-width"></th>
                          </tr>
                      </thead>
                      <tbody ng-repeat="u in params.ipvc.ipvc.unis.uni" ng-if="u.subnets">
                          <tr ng-repeat="subnet in u.subnets">
                              <td>{{subnet.subnet}}</td>
                              <td>{{subnet.gateway}}</td>
                              <td> {{u.deviceName}} </td>
                              <td> {{u.prettyID}}</td>
                              <td>{{u.vlan}}</td>
                              <td class="minimal-width" style="white-space: nowrap;">
                              <button type="button" class="btn btn-md btn-danger" ng-click="removeSubnet(u,subnet)"> <i class="icon-trash"></i> </button>
                              </td>
                          </tr>
                      </tbody>
                      <tbody>
                          <tr>
                              <td>
                                <md-input-container>
                                    <input type="text" required name="network" ng-model="obj.network" ng-pattern="/\b(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\/(?:[1-2]?[0-9]|3[0-2])\b/" />
                                    <div ng-messages="projectForm.network.$error">
                                          <div ng-message="required">Network is required!</div>
                                          <div ng-message="pattern">IP/Mask is required! (ex. 127.0.0.1/32)</div>
                                    </div>
                                 </md-input-container>
                              </td>
                              <td>
                                <md-input-container class="">
                                    <label>Gateway</label>
                                    <input type="text" required name="gateway" ng-model="obj.gateway" ng-pattern="/\b(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\b/" />
                                    <div ng-messages="projectForm.gateway.$error">
                                          <div ng-message="required">Gateway is required!</div>
                                          <div ng-message="pattern">IP is required! (ex. 224.224.224.1)</div>
                                    </div>
                                  </md-input-container>
                              </td>
                              <td colspan="3">
	                              <md-input-container style="width:100%">
							        <label>Device, Port, vlan</label>
							        <md-select required name="selectedUni" ng-model="obj.selectedUni">
							         <md-option ng-value="u" ng-repeat="u in params.ipvc.ipvc.unis.uni">{{u.deviceName}}, {{u.prettyID}} {{u.vlan ? 'vlan:'+u.vlan : ''}}</md-option>
							        </md-select>
							        <div ng-messages="projectForm.device.$error">
							              <div ng-message="required">This is required!</div>
							        </div>
							      </md-input-container>
                               </td>
                              <td class="minimal-width" style="white-space: nowrap;">
                              <button class="btn btn-md btn-info" type="submit">Add</button>
                              </td>
                          </tr>
                      </tbody>
                  </table>
             </form>
        </md-content>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="cancel()">Cancel</md-button>
      <md-button type="button" ng-click="done(obj)">Save Changes</md-button>
    </md-dialog-actions>
</md-dialog>
